<app-modal [size]="'md'">
  <!-- size could be sm md lg xl -->
  <div modal-header>
    <div>Add Recipe</div>
  </div>

  <div class="mb-4" modal-body>
    <form class="pl-4 pr-4" (ngSubmit)="type == 'Add New' ? add() : add()" [formGroup]="Form" novalidate>
      <div class="login-error" [hidden]="!error || isLoading"></div>
      <br />
      <div class="login-fields mat-field-30" fxLayout="column">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="100" fxLayout="row" fxLayoutGap="20px">
            <mat-form-field [hideRequiredMarker]="true">
              <mat-label># of Days</mat-label>
              <input type="number" matInput formControlName="cycle" autocomplete="cycle" [placeholder]="'# of Days'" />
              <mat-error *ngIf="Form.controls.cycle.invalid && Form.controls.cycle.touched">
                <span>Days are required</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field [hideRequiredMarker]="true">
              <mat-label>Stage</mat-label>
              <input type="text" matInput formControlName="stage" autocomplete="stage" [placeholder]="'Stage'" />
              <mat-error *ngIf="Form.controls.stage.invalid && Form.controls.stage.touched">
                <span>Stage is required</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field [hideRequiredMarker]="true">
              <mat-label>Sunrise Min</mat-label>
              <input
                type="number"
                matInput
                formControlName="sun_rise_min"
                autocomplete="sun_rise_min"
                [placeholder]="'Sunrise Min'"
              />
              <mat-error *ngIf="Form.controls.sun_rise_min.invalid && Form.controls.sun_rise_min.touched">
                <span>Sunrise Min is required</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="100" fxLayout="row" fxLayoutGap="20px">
            <mat-form-field [hideRequiredMarker]="true">
              <mat-label>Sunset Min</mat-label>
              <input
                type="number"
                matInput
                formControlName="sun_set_min"
                autocomplete="sun_set_min"
                [placeholder]="'Sunset min'"
              />
              <mat-error *ngIf="Form.controls.sun_set_min.invalid && Form.controls.sun_set_min.touched">
                <span>Sunset min is required</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field [hideRequiredMarker]="true">
              <mat-label>Auto Dim T</mat-label>
              <input
                type="number"
                matInput
                formControlName="auto_dim_temp"
                autocomplete="auto_dim_temp"
                [placeholder]="'Auto Dim Temp'"
              />
              <mat-error *ngIf="Form.controls.auto_dim_temp.invalid && Form.controls.auto_dim_temp.touched">
                <span>Auto Dim Temp is required</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field [hideRequiredMarker]="true">
              <mat-label>Auto Shutoff T</mat-label>
              <input
                type="number"
                matInput
                formControlName="auto_shutoff_temp"
                autocomplete="auto_shutoff_temp"
                [placeholder]="'Auto Shutoff Temp'"
              />
              <mat-error *ngIf="Form.controls.auto_shutoff_temp.invalid && Form.controls.auto_shutoff_temp.touched">
                <span>Auto Shutoff Temp is required</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
          <div formGroupName="targets" fxFlex="100" fxLayout="row" fxLayoutGap="10px">
            <mat-form-field [hideRequiredMarker]="true">
              <mat-label>Ph</mat-label>
              <input type="number" matInput formControlName="ph" autocomplete="ph" [placeholder]="'Ph'" />
              <mat-error *ngIf="Form.controls.targets.get('ph').invalid && Form.controls.targets.get('ph').touched">
                <span>Ph is required</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field [hideRequiredMarker]="true">
              <mat-label>EC</mat-label>
              <input type="number" matInput formControlName="ec" autocomplete="ec" [placeholder]="'EC'" />
              <mat-error *ngIf="Form.controls.targets.get('ec').invalid && Form.controls.targets.get('ec').touched">
                <span>EC is required</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field [hideRequiredMarker]="true">
              <mat-label>TDS</mat-label>
              <input type="number" matInput formControlName="tds" autocomplete="tds" [placeholder]="'TDS'" />
              <mat-error *ngIf="Form.controls.targets.get('tds').invalid && Form.controls.targets.get('tds').touched">
                <span>TDS is required</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div modal-footer>
          <div fxLayoutGap="10px" class="text-right pt-5">
            <button (click)="close()" class="w-25 grey_bg" mat-raised-button type="button">
              <span>Cancel</span>
            </button>
            <button [disabled]="Form.invalid || isLoading" color="accent" class="w-25" mat-raised-button type="submit">
              <!-- <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader> -->
              <span *ngIf="!isLoading">{{ type == 'Edit' ? 'Update' : 'Add' }}</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-modal>
